


/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  max-width: 200px; /* Vous pouvez ajuster cette valeur en fonction de la largeur souhaitée */
  width: 100%; /* Pour s'assurer qu'elle prend toute la largeur de son parent */
  padding: 0; 
}

/* Navbar links */
.topnav a  img{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the input container */
.topnav .login-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
 
}
.logo-text {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: bold;
  font-family: Arial, sans-serif;
  
  letter-spacing: 2px;
  color: navy; /* Couleur du texte en bleu marine */
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

.logo-text:hover {
  color: #FFD100; /* Couleur du texte au survol */
}


.logo-letter {
  font-size: 36px;
  color: navy;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.logo-text:hover .logo-letter {
  transform: scaleX(1);
}























.modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
  border-radius: 3px;
}